body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    
}

.header {
    text-align: center;
}
.header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #212121;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    
    line-height: 42px;
    margin-top: 100px;
}

hr {
    height: 2px;
    width: 64px;
    /*background-color: blue;*/
}

hr.red-bg {
    background-color: red;
    border: 0px;
}

.header h2 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #86878B;
    font-weight: 400;
    font-style: normal;
    line-height: 19px;
    margin: 30px 0;
    
    
}


.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    /*border: 1px solid red;*/
}

.row {
    display: flex;
    flex-wrap: wrap;
   /* border: 1px solid green;*/

}

.col-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    /*border: 1px solid blue;*/
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}


.icon {
    border: 1px solid #E72424;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}
.lamp {
    background: url('../lesson 1/img/lamp.png') center center no-repeat;
}
.comp {
    background: url('../lesson 1/img/comp.png') center center no-repeat;
}

.light {
    background: url('../lesson 1/img/light.png') center center no-repeat;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #333333;
    font-weight: 700;
    line-height: 27px;
    font-style: normal;
    text-align: center;
    margin: 25px 0;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: black;
    font-style: normal;
    font-weight: 400;
    padding-top: 16px;
    line-height: 19px;
    text-align: center;
}