body {
    margin: auto auto;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    
}
/*Шапка*/

.container-header .row {

}
.container-header .col-12 {
    background: url('../img/bg.jpg') no-repeat center center;
    height: 770px;
    width: 100%;
    background-size: cover;
    display: grid;
    border: 1px solid red;

}
.image-logo {
    padding: 40px 0 300px;
    text-align: center;
}
h1 {
    font-weight: 100;
    margin: 0 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 6px;
    color: #FFFFFF;
}

.container-header .col-12 p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;

}
h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 3.7px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container-header h4 {
    padding: 200px 0 70px;
}

/*Основная информация*/

    /*Блок навигация*/

.container-main {
   padding-left: 250px;
   padding-right: 250px;
   border: 1px solid red;
}
.container-navigation .row {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}
.container-navigation .main-nav a {
    padding-left: 48px;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.09091px;
    color: #48555B;
    text-transform: uppercase;

}
.main-nav a:hover {
    color: #00A4E5;
}

    /*Блок главный контент*/

h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 2.30625px;
    color: #48555B;
}
hr {
    height: 2px;
    width: 64px;
}

hr.blue-bg {
    background-color: #00A4E5;
    border: 0px;
}
.container-about .row {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    border: 1px solid red;
}
.container-about .col-6 .main-text-1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.1875px;
    color: #48555B;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    max-width: 400px;
}   
.container-about a {
    text-decoration: none;
    color: #00A4E5;
}
.container-about .col-6 .main-text-2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
    border: 1px solid red;
    max-width: 405px;
    
}
.container-about .col-6 {
    display: flex;
    justify-content: center;
}
.container-about .col-4 {
    width: 140px;
    height: 224px;
    border: 1px solid red;
    margin-right: 20px;
    margin-top: 45px;
}
.container-about .col-4 p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1875px;
    color: #FFFFFF;
    padding-left: 10px;
}
.container-about .first {
    background: url('../img/picture1.jpg') no-repeat center center;
}
.container-about .second {
    background: url('../img/picture2.jpg') no-repeat center center;
}
.container-about .third {
    background: url('../img/picture3.png') no-repeat center center;
    margin-right: 0;
}

    /*Контейнер-сервисы*/
.container-services {
    margin-top: 117px;
}
.container-services hr {
    text-align: left;
    margin: 0 0;
}
.container-services a {
    text-decoration: none;
    position: relative;
    z-index: 4;
    padding: 10px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;  
    background: #00A4E5; 
    
}

.container-services .button {
    margin-top: 20px;
}
.container-services .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid red;
}
.container-services .col-4 p {
    width: 405px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 19px;
    align-items: center;
    letter-spacing: 0.2px;
    color: #48555B;

}

.container-text-about .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 80px;
    width: 100%;
}
.container-text-about .col-4 {
    border: 1px solid red;
    padding-left: 28px;
    
}
.container-text-about .col-4:nth-child(1) {
    padding-left: 0;
}
.container-text-about .col-4 p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
}
.container-text-about .col-4 h2 {
    text-align: start;
}

/*Блок с кнопкой-ссылкой*/

.container-work .row {
    background: url('../img/bg-2.png') no-repeat center center;
    height: 500px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    border: 1px solid red;
    margin-top: 115px;
}
h5 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #48555B;
    
    margin: 120px 0 35px;
    
    
}
.container-work .col-12 a {
    text-decoration: none;
    position: relative;
    z-index: 4;
    padding: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;  
    background: #00A4E5; 
    margin-left: 100px;
}